div.and-or-container {
    .active {
        background-color: #4ca3af;
        color: white;
    }

    button {
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 3px;
        cursor: pointer;
    }
}
