div.table-wrapper {
    display: flex;
    justify-content: center;

    padding: 30px;

    overflow-x: auto;
    margin: 20px;

    table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    thead {
        background-color: #f4f4f4;
        color: #333;
    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
    }

    th {
        border-bottom: 2px solid #ddd;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    td {
        border-bottom: 1px solid #ddd;
    }

    td:last-child {
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }
}
